# Public Environment Variables for Sury Frontend
VITE_SURY_TREASURY_ADDRESS=0xcB68b99e5b02b1E6A6AEE361089e1AdcdACEfe00
VITE_SURY_FACTORY_ADDRESS=0xcB68b99e5b02b1E6A6AEE361089e1AdcdACEfe00
VITE_SURY_POLICY_ADDRESS=0xcB68b99e5b02b1E6A6AEE361089e1AdcdACEfe00
VITE_BOT_CHAIN_RPC=https://rpc.botchain.ai
VITE_BOT_CHAIN_EXPLORER=https://scan.botchain.ai
